doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title BarberShop
	body
		div.container
			section.header
				div
					h1.header__title New Opening 08<sup>th</sup> june
				div.header__social
					.header__social-item
						a(href="#")
							img(src="img/whatsapp.png", alt="")
					.header__social-item
						a(href="#")
							img(src="img/facebook.png", alt="")
					.header__social-item
						a(href="#")
							img(src="img/twitter.png", alt="")
					.header__social-item
						a(href="#")
							img(src="img/instagram.png", alt="")
			section.content
				div.content__img
					img(src="img/barber-img.jpg", alt="")
				div.content__text
					div.content__text-inner
						div.content__text-logo
							img(src="img/logo.png", alt="")
						div.content__text-block
							h5.content__text-title Address
							div
								p.content__text-paragraph Street name here
								p.content__text-paragraph City Name
								p.content__text-paragraph Postcode, State
						div.content__text-block
							h5.content__text-title Contact
							div
								p.content__text-paragraph +55 576 23451
								p.content__text-paragraph youremail@gmail.com
						div.content__text-block
							h5.content__text-title Email
							div
								p.content__text-paragraph youremail@gmail.com
	